* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.sm {
  float: left;
  margin-left: -150px;
}

.bi {
  float: left;
  margin-left: -1px;
  font-size: 3rem;
}

nav {
  float: right;
}

header ul {
  list-style-type: none;
  margin-right: 50px;
}

header ul li {
  display: inline;
  margin-left: 50px;
}

header li a {
  text-decoration: none;
  color: white;
}
.ic {
  float: right;
}

.btn {
  background-color: red;
  color: white;
  padding: 5px 12px;
  border: 1px solid red;
  border-radius: 4px;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1px solid white;
}

.borde {
  border: 1.5px solid transparent;
}

.borde:hover {
  border: 1px solid red;
}

.box {
  background-color: black;
  color: white;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* main */

.first {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.main-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 261px;
  margin-top: 33px;
  margin-left: 133px;
  gap: 25px;
}

.pl {
  margin-left: 81px;
  height: 676px;
  width: 734px;
  float: left;
}
.cng {
  position: relative;
}
.inp {
  background-image: url(classroom.img/wakefit-sofaset.jpg);
  background-size: cover;
  height: 800px;
  width: 734px;
}
.op {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: none;
}

.pb {
  width: 96px;
  background-color: blue;
  color: white;
  padding: 10px;
  border: 1.5px solid transparent;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 50px;
}

.ji {
  position: absolute;
  margin-left: 50px;
  width: 313px;
  height: 343px;
  margin-top: -46px;
}

/* .li {
  position: absolute;
  margin-left: 50px;
  width: 313px;
  height: 343px;
  margin-top: -46px;
} */
.p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 375px;
  flex-direction: column;
  gap: 40px;
}

.cl {
  text-align: center;
  width: 594px;
  margin-top: 90px;
  font-size: 2rem;
}

.bp {
  background-color: blue;
  color: white;
  padding: 12px 25px;
  border: 1.5px solid transparent;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 500;
}

/* box3 */

.exe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  gap: 25px;
}

.ext {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
  gap: 25px;
}

.class {
  color: blue;
  font-family: ui-serif;
  font-size: 1.35rem;
}

.cla {
  font-size: 2.5rem;
  width: 805px;
  text-align: center;
}

.pag {
  font-size: 26px;
  width: 47%;
  color: #000000b8;
  font-family: none;
  text-align: center;
}

/* box4 */
.shoping {
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.boc {
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 15px;
}

.cure {
  height: 415px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.h {
  text-align: center;
  margin-top: 20px;
}

.fa {
  font-size: 1.125rem;
  margin-left: 142px;
  margin-top: 32px;
  font-family: cursive;
  font-weight: 100;
}

.furniture {
  height: 700px;
  display: flex;
  align-items: center;
  max-width: 1181px;
  margin: auto;
  gap: 25px;
  margin-top: 100px;
}

.no1 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: left;
  float: left;
  margin-right: 212px;
}

.number {
  font-size: 50px;
}

.letter {
  font-size: 2rem;
}

.alpha {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: none;
}

.livi {
  width: 570px;

  border-radius: 20px;
  filter: drop-shadow(px 4px 6px black);
}

.fur {
  display: flex;
  align-items: center;
  max-width: 1181px;
  margin: auto;
}

.no2 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: left;
  float: left;
  margin-left: 212px;
}

.full {
  height: 490px;
  margin-top: 40px;
}
.sfa {
  background-image: url(classroom.img/nepal-luxury-bedroom-288382-37-B.webp);
  background-size: cover;
  background-position: center;
  height: 490px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bal {
  background-color: brown;
  height: 490px;
  width: 100%;
  opacity: 0.3;
  position: absolute;
}

.aba {
  max-width: 1000px;
  margin: auto;
  z-index: 10;
}

.dii {
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
}

.saky {
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: none;
  margin-top: 30px;
}

.sak {
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: none;
  margin-top: 5px;
}

.qp {
  background-color: blue;
  padding: 8px 25px;
  color: white;
  font-size: 1.125rem;
  border: 1px solid blue;
  border-radius: 4px;
  margin-top: 30px;
}

.header {
  list-style-type: none;
  font-size: 1.1rem;
}

.header li {
  display: inline;
  margin-right: 15px;
}

.header li a {
  text-decoration: none;
  color: black;
}

/* same */

.hero {
  height: 490px;
  margin-top: 70px;
}
.hero-height {
  background-image: url(classroom.img/di.png);
  background-size: cover;
  background-position: bottom;
  height: 490px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-black {
  background-color: black;
  height: 490px;
  width: 100%;
  opacity: 0.6;
  position: absolute;
}




.kaho {
  color: white;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  max-width: 90vw;
  margin: auto;
}
.txt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconclss {
  position: absolute;
  margin-top: 129px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-left: 315px;
  margin-bottom: 65px;
}

/* foooter */

footer {
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
  background-color: #222f3d;
  color: white;
}

.foot1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ohla {
  width: 380px;
  text-align: left;
}

.ola {
  display: block;
  margin-top: 22px;
  font-family: system-ui;
  font-weight: 400;
}

.foot2 {
  margin-right: 165px;
  margin-left: 20px;
}

.foot4 {
  display: flex;
  justify-content: space-evenly;
  /* max-width: 61vw;
    margin: auto; */
}

.foot3 {
  font-family: fangsong;
  font-size: 2rem;
  margin-bottom: 50px;
}

.sepra {
  background-color: #37475a;
  height: 10px;
}
.container {
  background-color: #0f1111;
  color: white;
  height: 80px;
  font-size: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blockfour{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-left: 92px;
}

.blocksix{
  
  height: 50px;
}

.blockfive{
  
  height: 50px;
  margin-top: 15px;
}
